<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

</head>
<body>
<div id="box">
  <el-form :model="repoInfo" ref="repoInfo" label-width="100px" class="demo-repoInfo">
    <el-form-item label="用户名">
      <el-input v-model="repoInfo.ownerName" style="width: 300px">

      </el-input>
    </el-form-item>

    <el-form-item label="仓库名">
      <el-input v-model="repoInfo.repoName" style="width: 300px">

      </el-input>
    </el-form-item>
  </el-form>

  <el-button @click="handleClick" style="margin-left:100px" type="primary">确定</el-button>

  <div style="margin-top: 20px; margin-bottom: 20px; margin-left: 50px">
    <table border="1">
      <tr>
        <th>Repository Address</th>
        <th>Number of Releases</th>
        <th>Number of Developers</th>
        <th>Average issue solve time (day)</th>
        <th>Max issue solve time (day)</th>
        <th>Standard deviation of issue solve time</th>
      </tr>

      <tr>
        <td>{{githubLink}}</td>
        <td>{{releases}}</td>
        <td>{{developers}}</td>
        <td>{{issueTimeAVG}}</td>
        <td>{{issueTimeMAX}}</td>
        <td>{{issueTimeSTDDEV}}</td>
      </tr>
    </table>
  </div>

</div>

<div id="issues" style="width: 600px; height: 400px; margin-top: 10px; margin-bottom: 10px"></div>

<div id="Commits" style="width: 1500px; height: 600px; margin-top: 10px; margin-bottom: 10px"></div>

<div id="top_developers" style="width: 1500px; height: 400px; margin-top: 10px; margin-bottom: 10px"></div>

<div id="commits_before_release" style="width: 1500px; height: 400px; margin-top: 10px; margin-bottom: 10px"></div>

</body>

<script>

  let vm = new Vue({
    el: '#box',
    data: {
      githubLink: '',
      repoAddress: '',
      releases: 0,
      developers: 0,
      issueTimeAVG: '',
      issueTimeMAX: '',
      issueTimeSTDDEV: '',
      repoInfo: {
        ownerName: '',
        repoName: ''
      }
    },
    methods: {
      handleClick() {
        // eg: https://api.github.com/repos/DiUS/java-faker
        vm.repoAddress = 'https://api.github.com/repos/'
            + this.repoInfo.ownerName
            + '/'
            + this.repoInfo.repoName;
        vm.githubLink = 'https://github.com/'
            + this.repoInfo.ownerName
            + '/'
            + this.repoInfo.repoName;

        this.truncate("issue");
        this.truncate("commit");
        this.truncate("`release`");

        this.storeReleases();
        this.storeIssues();
        this.storeCommits();

        this.getCommitNumByTime();
        this.getIssues();
        this.getReleases();
        this.getCommitNumByDeveloper();
        this.getSolveTimeAVG();
        this.getSolveTimeMAX();
        this.getSolveTimeSTDDEV();
        this.getCommitsBeforeReleases();
      },

      truncate(tableName) {
        $.ajax({
          url: '/basic/truncate',
          type: 'post',
          async: false,
          data: {
            tableName: tableName
          },
          success: function(data) {
            console.log(data)
          }
        })
      },

      storeIssues() {

        // 把默认state为open的issue存进表里
        $.ajax({
          url: '/issue/store-issues',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/issues?per_page=100'
          },
          success: function (data) {
            console.log(data)
          }
        });

        // 把state为closed的issue存进表里
        $.ajax({
          url: '/issue/store-issues',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/issues?per_page=100&state=closed'
          },
          success: function (data) {
            console.log(data)
          }
        })
      },

      storeReleases() {
        $.ajax({
          url: '/release/store-releases',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/releases?per_page=100'
          },
          success: function(data) {
            console.log(data)
          }
        })
      },

      storeCommits() {
        $.ajax({
          url: '/commit/store-commits',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/commits?per_page=100'
          },
          success: function(data) {
            console.log(data)
          }
        })
      },

      getIssues() {
        let openIssues;
        let closeIssues;
        $.ajax({
          url: '/issue/get-open-issues',
          methods: 'get',
          async: false,
          success: function (data) {
            openIssues = data;
            console.log("getOpenIssues: " + openIssues);
          }
        });
        $.ajax({
          url: '/issue/get-close-issues',
          methods: 'get',
          async: false,
          success: function (data) {
            closeIssues = data;
            console.log("getCloseIssues: " + closeIssues);
          }
        });
        setPie("issues", openIssues, closeIssues, "开关issue的数量");
      },

      getSolveTimeAVG() {
        $.ajax({
          url: '/issue/get-solveTime-avg',
          methods: 'get',
          success: function(data) {
            vm.issueTimeAVG = data;
            console.log("Average issue time: " + vm.issueTimeAVG + " days")
          }
        })
      },

      getSolveTimeMAX() {
        $.ajax({
          url: '/issue/get-solveTime-max',
          methods: 'get',
          success: function(data) {
            vm.issueTimeMAX = data;
            console.log("Max issue time: " + vm.issueTimeMAX + " days")
          }
        })
      },

      getSolveTimeSTDDEV() {
        $.ajax({
          url: '/issue/get-solveTime-stddev',
          methods: 'get',
          success: function(data) {
            vm.issueTimeSTDDEV = data;
            console.log("Standard deviation of Issue time: " + vm.issueTimeSTDDEV)
          }
        })
      },

      getCommitNumByTime() {
        let dates = [];
        let commitNums = [];
        $.ajax({
          url: '/commit/get-date-commitNum',
          methods: 'get',
          async: false,
          success: function(data) {
            $.each(data, function(index, item) {
              dates.push(item.commit_date);
              commitNums.push(item.commitNum);
            });
            setChart("Commits", dates, commitNums, "日期与commit数量的关系", 45, "日期", "commit数量");
          }
        })
      },

      getCommitNumByDeveloper() {
        let developers = [];
        let commitNums = [];
        $.ajax({
          url: '/commit/get-developer-commitNum',
          methods: 'get',
          async: false,
          success: function(data) {
            $.each(data, function(index, item) {
              developers.push(item.developer);
              commitNums.push(item.commitNum);
            });
            vm.developers = developers.length;
            setChart("top_developers", developers, commitNums, "developer与commit数量的关系", 0, "开发者", "commit数量");
          }
        })
      },

      getReleases() {
        $.ajax({
          url: '/release/get-releases',
          methods: 'get',
          async: false,
          success: function(data) {
            vm.releases = data;
            console.log("releases: " + data);
          }
        })
      },

      getCommitsBeforeReleases() {
        let releases = [];
        let commitNums = [];
        $.ajax({
          url: '/release/get-commits-preRelease',
          methods: 'get',
          success: function(data) {
            $.each(data, function(index, item) {
              releases.push(item.releaseId);
              commitNums.push(item.commitNum);
            });
            setChart("commits_before_release", releases, commitNums, "release之前的新增commit数量", 0,
                    "release的id", "之前更新的commit数量");
          }
        })
      },

      // setPie(elementId) {
      //   setTimeout(() => {
      //     console.log("set openIssues: " + vm.openIssues);
      //     console.log("set closeIssues: " + vm.closeIssues);
      //     var myChart = echarts.init(document.getElementById(elementId));
      //     // 指定图表的配置项和数据
      //     var option = {
      //       title: {
      //         text: "开关issue的数量"
      //       },
      //       series : [
      //         {
      //           type: 'pie',
      //           radius: '55%',
      //           roseType: 'angle',
      //           data:[
      //             {value: vm.openIssues, name:'open issue的数量: ' + vm.openIssues},
      //             {value: vm.closeIssues, name:'closed issue的数量: ' + vm.closeIssues}
      //           ]
      //         }
      //       ]
      //     };
      //     // 使用刚指定的配置项和数据显示图表。
      //     myChart.setOption(option);
      //   }, 1000);
      // },
    }
  });

  function setPie(elementId, a_data, b_data, title) {
    var myChart = echarts.init(document.getElementById(elementId));
    var option = {
      title: {
        text: title
      },
      series : [
        {
          type: 'pie',
          radius: '55%',
          roseType: 'angle',
          data:[
            {value: a_data, name:'open issue的数量: ' + a_data},
            {value: b_data, name:'closed issue的数量: ' + b_data}
          ]
        }
      ]
    };
    myChart.setOption(option);
  }

  function setChart(elementId, x_data, y_data, title, x_rotate, x_name, y_name) {
    var barGraph = echarts.init(document.getElementById(elementId));
    var option = {
      dataZoom: [
        {
          type: 'slider',
          show: true,
          start: 0,
          end: 10,
          xAxisIndex: [0]
        }
      ],
      title: {
        text: title
      },
      xAxis: {
        name: x_name,
        type: 'category',
        data: x_data,
        boundaryGap: true,
        axisLabel: {
          interval: 0,
          rotate: x_rotate,
          show: true
        }
      },
      yAxis: {
        name: y_name,
        type: 'value'
      },
      series: [
        {
          data: y_data,
          type: 'bar',
          itemStyle: {
            normal: {
              label: {
                show: true,
                position: 'top'
              }
            }
          }
        }
      ]
    };
    barGraph.setOption(option);
  }

</script>
</html>