<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

</head>
<body>

<!--<h4>Demo Representation</h4>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Developer_num</th>-->
<!--        <th>Most_active_developer</th>-->
<!--        <th>Open_issues</th>-->
<!--        <th>Close_issues</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td id="1">var1</td>-->
<!--        <td id="2">var2</td>-->
<!--        <td id="3">var3</td>-->
<!--        <td id="4">var4</td>-->
<!--        <td id="5">var5</td>-->
<!--    </tr>-->

<!--</table>-->

<div id="box">
  <el-form :model="repoInfo" ref="repoInfo" label-width="100px" class="demo-repoInfo">
    <el-form-item label="用户名">
      <el-input v-model="repoInfo.ownerName" style="width: 300px">

      </el-input>
    </el-form-item>

    <el-form-item label="仓库名">
      <el-input v-model="repoInfo.repoName" style="width: 300px">

      </el-input>
    </el-form-item>
  </el-form>

  <el-button @click="handleClick" style="margin-left:100px" type="primary">加入数据</el-button>
</div>

<!--<div id="svgcontainer"></div>-->
<div id="asas" style="width: 600px; height: 400px;"></div>


</body>

<script>

  let vm = new Vue({
    el: '#box',
    data: {
      repoAddress: '',
      openIssues: '',
      closeIssues: '',
      repoInfo: {
        ownerName: '',
        repoName: ''
      }
    },
    methods: {
      handleClick() {
        // eg: https://api.github.com/repos/DiUS/java-faker

        this.repoAddress = 'https://api.github.com/repos/'
            + this.repoInfo.ownerName
            + '/'
            + this.repoInfo.repoName;
        console.log(this.repoAddress + '/issues?per_page=100');

        this.storeIssues();

        this.getOpenIssues();
        this.getCloseIssues();
        this.setPie('asas');

        console.log("Get!")
        console.log(this.openIssues);
        console.log(this.closeIssues);
      },

      storeIssues() {

        // 把默认state为open的issue存进表里
        $.ajax({
          url: '/issue/store-issues',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/issues?per_page=100'
          },
          success: function (data) {
            console.log(data)
          }
        })

        // 把state为closed的issue存进表里
        $.ajax({
          url: '/issue/store-issues',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/issues?per_page=100&state=closed'
          },
          success: function (data) {
            console.log(data)
          }
        })
      },

      getOpenIssues() {
        // setTimeout(() => {
          // 得到open的issue
          $.ajax({
            url: '/issue/get-open-issues',
            methods: 'get',
            async: false,
            success: function (data) {
              vm.openIssues = data;
              console.log("getOpenIssues: " + vm.openIssues);
            }
          })
        // }, 1000)
      },

      getCloseIssues() {
        // setTimeout(() => {
          // 得到open的issue
          $.ajax({
            url: '/issue/get-close-issues',
            methods: 'get',
            async: false,
            success: function (data) {
              vm.closeIssues = data;
              console.log("getCloseIssues: " + vm.closeIssues);
            }
          })
        // })
      },

      setPie(elementId) {
        setTimeout(() => {
          console.log("set openIssues: " + vm.openIssues);
          console.log("set closeIssues: " + vm.closeIssues);
          var myChart = echarts.init(document.getElementById(elementId));
          // 指定图表的配置项和数据
          var option = {
            series : [
              {
                type: 'pie',
                radius: '55%',
                roseType: 'angle',
                data:[
                  {value: vm.openIssues, name:'open issue的数量: ' + vm.openIssues},
                  {value: vm.closeIssues, name:'closed issue的数量: ' + vm.closeIssues}
                ]
              }
            ]
          };
          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
        }, 1000)
      }


    }
  })


</script>
</html>