<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo</title>
  <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>

</head>
<body>

<!--<h4>Demo Representation</h4>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Developer_num</th>-->
<!--        <th>Most_active_developer</th>-->
<!--        <th>Open_issues</th>-->
<!--        <th>Close_issues</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td id="1">var1</td>-->
<!--        <td id="2">var2</td>-->
<!--        <td id="3">var3</td>-->
<!--        <td id="4">var4</td>-->
<!--        <td id="5">var5</td>-->
<!--    </tr>-->

<!--</table>-->

<div id="box">
  <el-form :model="repoInfo" ref="repoInfo" label-width="100px" class="demo-repoInfo">
    <el-form-item label="用户名">
      <el-input v-model="repoInfo.ownerName" style="width: 300px">

      </el-input>
    </el-form-item>

    <el-form-item label="仓库名">
      <el-input v-model="repoInfo.repoName" style="width: 300px">

      </el-input>
    </el-form-item>
  </el-form>

  <el-button @click="handleClick" style="margin-left:100px" type="primary">确定</el-button>
</div>

<!--<div id="svgcontainer"></div>-->
<div id="issues" style="width: 600px; height: 400px;"></div>

<div id="Commits" style="width: 1200px; height: 400px;"></div>

<div id="top_developers" style="width: 600px; height: 400px;"></div>

</body>

<script>

  var array = [[1, 2], [2, 3], [3, 7],[4,4],[5,5],[6,6],[7,7],[8,8],[9,9],[10,2],[11,3],[12,5]]
  var myChart = echarts.init(document.getElementById("Commits"));
  var option = {
    title: {
      text: "commit时间分布"
    },
    xAxis: {
      type: 'category',
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        data: array,
        type: 'line'
      },
    ]
  };
  myChart.setOption(option);

  var developer_commit = [['a', 100], ['b', 3], ['c', 2]];
  var barGraph = echarts.init(document.getElementById("top_developers"));
  var option2 = {
    title: {
      text: "最多commit的开发者"
    },
    xAxis: {
      type: 'category',
    },
    yAxis: {
      type: 'value'
    },
    series: [
      {
        type: 'bar',
        data: developer_commit,
        itemStyle: {
          normal: {
            label: {
              show: true,
              position: 'top'
            }
          }
        }
      }
    ]
  }
  barGraph.setOption(option2);


  let vm = new Vue({
    el: '#box',
    data: {
      repoAddress: '',
      openIssues: '',
      closeIssues: '',
      repoInfo: {
        ownerName: '',
        repoName: ''
      }
    },
    methods: {
      handleClick() {
        // eg: https://api.github.com/repos/DiUS/java-faker
        vm.repoAddress = 'https://api.github.com/repos/'
            + this.repoInfo.ownerName
            + '/'
            + this.repoInfo.repoName;
        console.log(this.repoAddress + '/issues?per_page=100');

        this.storeIssues();

        this.getOpenIssues();
        this.getCloseIssues();
        this.setPie('issues');

        console.log("Get!")
        console.log(this.openIssues);
        console.log(this.closeIssues);
      },

      storeIssues() {

        // 把默认state为open的issue存进表里
        $.ajax({
          url: '/issue/store-issues',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/issues?per_page=100'
          },
          success: function (data) {
            console.log(data)
          }
        })

        // 把state为closed的issue存进表里
        $.ajax({
          url: '/issue/store-issues',
          methods: 'get',
          async: false,
          data: {
            url: this.repoAddress + '/issues?per_page=100&state=closed'
          },
          success: function (data) {
            console.log(data)
          }
        })
      },

      getOpenIssues() {
        // setTimeout(() => {
          // 得到open的issue
          $.ajax({
            url: '/issue/get-open-issues',
            methods: 'get',
            async: false,
            success: function (data) {
              vm.openIssues = data;
              console.log("getOpenIssues: " + vm.openIssues);
            }
          })
        // }, 1000)
      },

      getCloseIssues() {
        // setTimeout(() => {
          // 得到open的issue
          $.ajax({
            url: '/issue/get-close-issues',
            methods: 'get',
            async: false,
            success: function (data) {
              vm.closeIssues = data;
              console.log("getCloseIssues: " + vm.closeIssues);
            }
          })
        // })
      },

      setPie(elementId) {
        setTimeout(() => {
          console.log("set openIssues: " + vm.openIssues);
          console.log("set closeIssues: " + vm.closeIssues);
          var myChart = echarts.init(document.getElementById(elementId));
          // 指定图表的配置项和数据
          var option = {
            title: {
              text: "开关issue的数量"
            },
            series : [
              {
                type: 'pie',
                radius: '55%',
                roseType: 'angle',
                data:[
                  {value: vm.openIssues, name:'open issue的数量: ' + vm.openIssues},
                  {value: vm.closeIssues, name:'closed issue的数量: ' + vm.closeIssues}
                ]
              }
            ]
          };
          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
        }, 1000);
      },

      setLineChart(elementId) {

        var array = [["2022-12-1", 2], ["2022-12-2", 3], ["2022-12-5", 7]]

        setTimeout(() => {
          var myChart = echarts.init(document.getElementById(elementId));
          var option = {
            xAxis: {
              type: 'category',
            },
            yAxis: {
              type: 'value'
            },
            series: [
              {
                data: array,
                type: 'line'
              },
            ]
          };
          myChart.setOption(option);
        }, 1000);
      }

    }
  })

</script>
</html>