<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.example.springproject.mapper.IssueMapper">
  <!--select查询语句,resultType是返回类型，id最好写的是接口中的方法名称-->
  <select id="getIssueByState" resultType="int">
    select count(*)
    from ljjcjava2.issue
    where state = #{state};
  </select>

  <!--批量插入语句-->
  <insert id="insertIssues">
    insert into ljjcjava2.issue (id, state, create_date, close_date) values
    <foreach item="issue" collection="list" separator=",">
      (#{issue.id}, #{issue.state}, #{issue.create_date}, #{issue.close_date})
    </foreach>
  </insert>

  <select id="getSolveTimeAVG" resultType="double">
    select avg(DATEDIFF(close_date, create_date)) as avgTime
    from ljjcjava2.issue
    where state = 'closed';
  </select>

  <select id="getSolveTimeMAX" resultType="double">
    select max(DATEDIFF(close_date, create_date)) as maxTime
    from ljjcjava2.issue
    where state = 'closed';
  </select>

  <select id="getSolveTimeSTDDEV" resultType="double">
    select stddev(DATEDIFF(close_date, create_date)) as stddevTime
    from ljjcjava2.issue
    where state = 'closed';
  </select>

</mapper>